#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e69244;
  overflow: hidden;
}

.pointer{
  cursor: pointer;
}